@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: white;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: 2px solid black;
        margin-top: -6px;
        scale: 125%;
    }

    input[type="range"]::-webkit-slider-runnable-track {
        border: 2px solid rgb(0, 0, 0);
        border-radius: 0.5rem;
        height: 10px;
    }
}

@layer components {
    .welcome-text {
        @apply text-tangerine-50 text-2xl block text-center mt-10;
    }

    .welcome-images {
        @apply w-52 h-1/2 block m-auto;
    }

    .carousel {
        @apply mx-auto mb-auto w-screen h-52;
    }
}

@layer utilities {
    .anime-gradient {
        animation: background-pan 3s linear infinite;
        background: linear-gradient(to right, #272838, #414162, #767793, #272838);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        white-space: nowrap;
        background-size: 200%;
    }
}

@font-face {
    font-family: "rubik-regular";
    src: local("Rubik-Regular"), url("./fonts/rubik/Rubik-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "inter-regular";
    src: local("Inter-Regular"), url("./fonts/inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "rubik-bold";
    src: local("Rubik-Bold"), url("./fonts/rubik/Rubik-Bold.ttf") format("truetype");
}

.font-rubik-bold {
    font-family: rubik-bold, sans-serif;
}

.font-rubik {
    font-family: rubik-regular, sans-serif;
}

.font-inter {
    font-family: inter-regular, sans-serif;
}

.text-stroke-8 {
    -webkit-text-stroke: 8px black;
}

.text-stroke-4 {
    -webkit-text-stroke: 4px black;
}

.text-stroke-3 {
    -webkit-text-stroke: 3px black;
}

.text-stroke-2 {
    -webkit-text-stroke: 2px black;
}

.smile-head {
    border: 2px solid black;
    fill: yellow;
    stroke: black;
    stroke-width: 10;
}

.smile-mouth {
    fill: none;
    stroke: black;
    stroke-width: 10px;
    stroke-linecap: round;
}

@keyframes background-pan {
    from {
        background-position: 0 center;
    }

    to {
        background-position: 200% center;
    }
}

.anime-gradient {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(to right, yellow, red, yellow, green, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    background-size: 200%;
}

.confirm-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.font-roboto {
    font-family: "Roboto Light", sans-serif;
}

.font-inter {
    font-family: inter-me, sans-serif;
}

@media (max-width: 768px) {
    .mobile-hidden {
        display: none;
    }
}

.shadow-heavy {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
}
.shadow-medium {
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
}