@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: white;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid black;
    margin-top: -6px;
    scale: 125%;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0.5rem;
    height: 10px;
  }
}

.text-stroke-4 {
  -webkit-text-stroke: 4px black;
}

.text-stroke-3 {
  -webkit-text-stroke: 3px black;
}

.text-stroke-2 {
  -webkit-text-stroke: 2px black;
}

.smile-head {
  border: 2px solid black;
  fill: yellow;
  stroke: black;
  stroke-width: 10;
}

.smile-mouth {
  fill: none;
  stroke: black;
  stroke-width: 7px;
  stroke-linecap: round;
}